body {background-color: #641E16;}

.colorblanco {color: #F4F6F7;}
.colorrojo {color: #E74C3C;}
.colorazul {color: #2980B9;}
.tamañotitulo40 {font-size: 40px}
.tamañotitulo35 {font-size: 35px}
.enelmedio {text-align: center;}
.subrayado {text-decoration: underline;}
.tamañoimg {max-height: 200px;}
.fondotxblanco {background: #F4F6F7;}
